@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:rgb(243, 243, 243);
}
.bg-menu{
    background-color:rgba(0,91,188,255);
}
.menu-button:hover{
    background-color:#003771;
}
.bg-header{
    background-color:rgba(237,230,212,255);
}
/* HOME PAGE POSTS */
.post{
    height:60vh;
}
.subpost{
    height:calc(50% - 4px);
    margin: 4px 0px 4px 0px;
}
.card{
    height:40vh;
}

.shadow{
    -webkit-box-shadow: 0px 0px 21px -7px rgba(0,0,0,0.13); 
    box-shadow: 0px 0px 21px -7px rgba(0,0,0,0.13);
}
.blue-border{
    transition:all .05s;
}
.blue-border:hover{
    border:2px solid rgba(0,91,188,255)
}

/* SEARCH BAR FROM /evenimente/search */
.selectL{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-left: 2px solid rgba(0,91,188,255);
}
.selectL,.selectR{
    border-top: 2px solid rgba(0,91,188,255);
    border-bottom: 2px solid rgba(0,91,188,255);
}
.selectM{
    border-top: 2px solid rgba(0,91,188,255);
    border-bottom: 2px solid rgba(0,91,188,255);
}
.select-search{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* DASHBOARD BUTTONS*/
.buttons-blue-hover:hover{
    background-color: rgba(0,91,188,255);
}